body {
  height: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#2D6C8F, #999999);
  color: #999999;
  background-attachment: fixed;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1976D2;
  padding: 10px 20px;

  position: fixed;
  /* Fixed position so nav bar stays @ top of page */

  width: 100%;
  z-index: 1000;
}

.navbar-brand {
  color: #fff;
  font-size: 1.5em;
}

.navbar-buttons .nav-button {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  padding: 10px 20px;
  background-color: #2196F3;
  border-radius: 5px;
}

.navbar-buttons .nav-button:hover {
  background-color: #1E88E5;
}

.homepage {
  text-align: center;
  padding: 20px;
}

.filter {
  margin: 20px 0;
}

.generatedImg {
  max-width: 200px;
  max-height: 200px;
  height: auto;
  border-radius: 5px;
}

.imgBtnContainer {
  /* background-color: blue; */
  display: flex;
  align-items: flex-end;
}

.dallEProgress {
  margin-top: 10px;
}

.login-status {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1976D2;
  padding: 5px;
  text-align: center;
  z-index: 1000;
  font-size: 14px;
  color: #f0f0f0;
}

.search-page .loading-container {
  text-align: center;
  margin-top: 20px;
}

.spacer {
  height: 85px;
}

.spacerBottom {
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 10px;
}

.containerOuter {
  display: flex;
  height: 83vh;
}

.container {
  width: 100vw;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

.form-container {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: 260px;
  max-height: 400px;
}

.form-container2 {
  /* background-color: red; */
  border-radius: 10px;
  max-height: 400px;
}

.rightContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discover {
  margin-left: 10px;
  margin-bottom: 5px;
}

.fashion {
  margin-left: 10px;
  margin-top: 0px;
  color: black
}

.generated-image {
  display: flex;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  align-items: flex-end;
}

.bingContainer {
  flex-grow: 1;
  display: flex;
  width: 95%;
  justify-content: center;
}

.image-results {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  max-width: 80vw;
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
  margin-bottom: 30px;
}

.image-results img {
  height: 100px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.searchResults {
  color: white;
  text-align: left;
}

.matchedResult {
  width: 200px;
  height: 200px;
  background-color: white;
  margin: 5px 5px 5px 5px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.star {
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
}

button {
  margin: 5px;
  padding: 5px;
  height: 30px;
  background-color: #2C2C2C;
  color: #F5F5F5;
  border-radius: 5px;
}

.speechButton {
  margin-right: 0px;
  font-size: x-small;
  height: 22px;
}

.generateImage {
  margin-top: 20px;
  margin-left: 104px
}

.image-results::-webkit-scrollbar {
  width: 8px;
}

.image-results::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.image-results::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.image-results::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover,
a:active {
  text-decoration: underline;
  color: #2D6C8F;
}


/* Adding centering for the the CircularProgress component */
.center-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

}


.surprise-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #1976D2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.surprise-button:hover {
  background-color: #1565C0;
}

.gender-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.gender-toggle label {
  margin-right: 10px;
  font-size: 16px;
}