body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2C6C8F;
  color: #999999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  position: fixed; /* Fixed position so nav bar stays @ top of page */
  width: 100%;
  z-index: 1000;
}

.navbar-brand {
  color: #fff;
  font-size: 1.5em;
}

.navbar-buttons .nav-button {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  padding: 10px 20px;
  background-color: #444;
  border-radius: 5px;
}

.navbar-buttons .nav-button:hover {
  background-color: #555;
}

.homepage {
  text-align: center;
  padding: 20px;
}

.filter {
  margin: 20px 0;
}

.search-page {
  text-align: center;
  padding: 100px 20px 20px; /* Added top padding to avoid being covered by navbar */
}

.generatedImg {
  max-width: 100%;
  height: auto;
}

.login-status {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  padding: 5px;
  text-align: center;
  z-index: 1000;
  font-size: 14px;
  color: #f0f0f0;
}

.search-page .loading-container {
  text-align: center;
  margin-top: 20px;
}

/* New styles for the updated layout */
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.form-container label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-container input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.form-container button {
  grid-column: span 2;
  padding: 10px 20px;
  margin-top: 20px;
}

.generated-image {
  text-align: center;
}

.image-results {
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.image-results img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.speechButton {
  margin-left: 10px;
  padding: 8px;
}

button {
  margin: 5px;
}

/* Custom scroll bar styles */
.image-results::-webkit-scrollbar {
  width: 8px;
}

.image-results::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.image-results::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.image-results::-webkit-scrollbar-thumb:hover {
  background: #555;
}
