button {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button.active {
  background-color: #000; /* Black background for active state */
  color: #fff; /* White text for active state */
}

button:hover {
  background-color: #333; /* Dark gray background for hover state */
  color: #fff; /* White text for hover state */
}

.gender-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.surprise-me-container {
  text-align: center;
}
